config SHIELD_CNANO_DONGLE
	def_bool $(shields_list_contains,cnano_dongle)

config SHIELD_CNANO_LEFT
	def_bool $(shields_list_contains,cnano_left)

config SHIELD_CNANO_RIGHT
	def_bool $(shields_list_contains,cnano_right)
